<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	
	<h1>Olá mundo</h1>
	
	<p th:text="${meunome}"></p>
	
	<table>
		<thead>
			<th>
				<td>Id</td>
				<td>Nome</td>
				<td>Descrição</td>
				<td>Valor</td>
			</th>
		</thead>
		<tbody>
			<tr th:each="produto: ${estoque}">
				<td th:text="${produto.getId()}"></td>
				<td th:text="${produto.getNome()}"></td>
				<td th:text="${produto.getDescricao()}"></td>
				<td th:text="${produto.getValor()}"></td>					
			</tr>
		</tbody>
	
	</table>